!
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Admin</title>
</head>

<body>
    <%- include("./partials/sidebar.ejs") %>

        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Dashboard</h2>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="users-table table-wrapper">
                            <table class="posts-table">
                                <thead>
                                    <tr class="users-table-info">
                                        <th>No</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>City</th>
                                        <th>Date Of Birth</th>
                                        <th>Gender</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (allSignUpAdminUsers && allSignUpAdminUsers.length>0) { %>
                                        <% allSignUpAdminUsers.forEach((user,index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= index+1 %>
                                                </td>
                                                <td>
                                                    <div class="categories-table-img">
                                                        <img src="<%= user.image %>" alt="category">
                                                    </div>
                                                </td>
                                                <td>
                                                    <%= user.name %>
                                                </td>
                                                <td>
                                                    <%= user.email %>
                                                </td>
                                                <td>
                                                    <%= user.mo %>
                                                </td>
                                                <td>
                                                    <%= user.city %>
                                                </td>
                                                <td>
                                                    <%= user.dob %>
                                                </td>
                                                <td>
                                                    <%= user.gender %>
                                                </td>
                                                <td>
                                                    <%= user.role %>
                                                </td>


                                                <td class="text-center align-middle">
                                                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/script.ejs") %>

</body>

</html>